version: "3.8"

services:
  api:
    build: .
    container_name: event-api
    ports:
      - "3000:3000"
    env_file:
      - .env.docker
    depends_on:
      - redis
      - db

  worker:
    build: .
    container_name: event-worker
    command: node dist/queue/email.worker.js
    env_file:
      - .env.docker
    depends_on:
      - redis
      - db

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--notify-keyspace-events", "Ex"]

  db:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
